.log-logo {
  width: 190px;
  height: 190px;
  margin: 40px auto;
  overflow: hidden;
  margin-bottom: 0px;
}

.log-logo img {
  width: 100%;
  height: 100%;
}

.form-item {
  width: 86%;
  margin: 8px auto;
}

.textarea-continer {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.textarea-continer #content {
  width: 100%;
  height: 160px;
  border: none;
  resize: none;
}

.input-continer {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 54px;
  line-height: 54px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.input-tag,
.input-code {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  color: #333;
  letter-spacing: 0.88px;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.input-tag {
  width: 100%;
}

.input-code {
  width: 75%;
}

.code {
  cursor: pointer;
  width: 80px;
  height: 30px;
  line-height: 30px;
  float: right;
}

.button {
  color: #656b79;
  background-color: #f6f8fa;
  box-shadow: 0 0 1px #b8bbbf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 18px;
  height: 50px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 44px;
  font-size: 18px;
  color: #fff;
  background-color: #2982ba;
  border: none;
  border-radius: 4px;
}

.button:after {
  background-color: #000;
  content: " ";
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.form-item-link {
  width: 86%;
  margin: 20px auto;
  text-align: right;
}

.form-item-link a {
  font-size: 16px;
  color: #2982ba;
  text-decoration: none;
}

/*适配大小屏手机显示*/

/*6 6s*/

@media(max-width: 375px) {
  .log-logo {
    width: 160px;
    height: 160px;
    margin-top: 35px;
  }
  .input-continer {
    height: 50px;
    line-height: 50px;
  }
  .input-tag,
  .input-code {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

/*5 5s*/

@media(max-width: 320px) {
  .log-logo {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }
  .input-tag,
  .input-code {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}