# 相关程序生成的文件
/src/cache/*
/src/data/*
/src/data/installed
sitemap.html
sitemap.xml
sitemap.txt
# 保留文件夹目录 index.html
!/**/**/index.html

# 测试
/test/
# 开发工具文件
.project
.settings
.buildpath
.cache
.idea
.netbeans
.DS_Store
.vscode

