<div class="banner">
    <div id="slideBox" class="slideBox">
        <div class="bd">
            <ul>
                <li><img src="{$site_template_url}/img/banner/1.jpg" /></li>
                <li><img src="{$site_template_url}/img/banner/2.jpg" /></li>
                <li><img src="{$site_template_url}/img/banner/3.jpg" /></li>
                <li><img src="{$site_template_url}/img/banner/4.jpg" /></li>
            </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>
</div>