body {
    padding-top: 20px;
    padding-bottom: 60px;
}

body,
html,
input,
textarea {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* header nav */

.nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    height: 30px;
    color: #fff;
    background-color: #70a1ce;
}

.header .title {
    width: 150px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.header .title a {
    color: #fff;
}

.page_menu {
    margin-left: 0px;
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    /* height: 100%; */
    /* background: #4d5e70 bottom; */
}

.page_menu .left-head {
    clear: both;
    height: 29px;
    line-height: 30px;
    text-align: center;
    background-color: #f3f9fa;
    border-bottom: 1px solid #eee;
}

.page_menu .left-head span {
    padding-right: 12px;
    height: 16px;
    float: right;
    margin-top: 5px;
}

.page_menu .left-head span a.refresh:hover {
    background-position: -109px -569px;
}

#browser {
    overflow: auto;
}

.page_content {
    /* margin-left: 160px; */
    float: left;
    padding-left: 160px;
    overflow-y: overlay;
    overflow-x: hidden;
    clear: both;
    min-width: 100%;
    min-height: 500px;
}

#home {
    overflow: hidden;
    width: 100%;
    clear: both;
    height: 29px;
    line-height: 29px;
    background-color: #f3f9fa;
    border-bottom: 1px solid #eee;
}

.footer {
    height: 28px;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 22px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

input.dialog {
    height: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: none
}

/*通用样式*/
.hidden {
    display: none;
}

.pad-10 {
    padding: 10px;
    overflow: hidden
}

.img-wrap {
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden
}

.img-wrap a {
    display: table-cell;
    vertical-align: middle;
    *display: block;
    overflow: hidden
}

.img-wrap a:hover {
    background-color: #e8eff6
}

body fieldset {
    border: 1px solid #D8D8D8;
    padding: 10px;
}

body fieldset legend {
    padding: 3px 8px;
    font-weight: 700;
    border: 1px solid #D8D8D8;
    background-color: #F9F9F9;
}

body fieldset.blue {
    border: 1px solid #dce3ed
}

body fieldset.blue legend {
    padding: 3px 8px;
    font-weight: 700;
    color: #347add;
    background: none;
    border: none
}

.content-menu {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-menu span {
    color: #ddd;
    padding: 0 8px
}

.content-menu .options {
    float: right;
}

/*分页*/
.pageleft {
    float: left
}

.pageright {
    float: right
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

#imgPreview td.on {
    background: #FFD283
}

#imgPreview td.on a {
    background: url(/static/swfupload/images/msg_bg.png) no-repeat scroll right -250px transparent;
    display: -moz-inline-stack;
    height: 16px;
    line-height: 16px;
    padding-right: 70px;
    vertical-align: middle;
}

.ico1 {
    background: url(/static/img/file.gif) no-repeat;
    padding-left: 20px;
}

.ico2 {
    background: url(/static/img/gear_disable.png) no-repeat;
    padding-left: 20px;
}

.ico3 {
    background: url(/static/img/link.gif) no-repeat;
    padding-left: 20px;
}

input.date {
    background: #fff url(/static/img/input_date.png) no-repeat right 3px;
    padding-right: 18px;
    font-size: 12px;
}

.input-text-c {
    text-align: center
}

/* table_form */


.table_form td {
    padding-left: 12px
}

.table_form th {
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    color: #777
}

input+input,
label+label,
input+button {
    margin-left: 5px;
}

table td .label-group {
    margin-bottom: unset;
}

.label-group {
    font-weight: normal;
}

.label-group:hover {
    color: #00f;
}

.label-group input[type=radio],
.label-group input[type=checkbox] {
    margin-right: 4px;
}

.label-group:hover input[type=radio],
.label-group:hover input[type=checkbox] {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: #00f;
}

.table_form td,
.table_form th {
    padding: 8px 0 8px 8px
}

/* 表单验证 */
.show-tips,
.onFocus,
.onCorrect,
.onLoad {
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    background: url(/static/swfupload/images/msg_bg.png) no-repeat;
    color: #444;
    line-height: 18px;
    padding: 2px 10px 2px 23px;
    margin-left: 5px;
    _margin-left: 5px
}

.show-tips {
    background-position: 3px -1196px;
    border-color: #40B3FF;
    color: #959595
}

.onFocus {
    background-position: 3px -145px;
    border-color: #40B3FF;
    color: #959595
}

.display {
    display: none
}