body {
    padding-top: 20px;
    padding-bottom: 60px;
}

body,
html,
input,
textarea {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* header nav */

.nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    height: 30px;
    color: #fff;
    background-color: #70a1ce;
}

.header .title {
    width: 150px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.header .title a {
    color: #fff;
}

.page_menu {
    margin-left: 0px;
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    /* height: 100%; */
    /* background: #4d5e70 bottom; */
}

.page_menu .left-head {
    clear: both;
    height: 29px;
    line-height: 30px;
    text-align: center;
    background-color: #f3f9fa;
    border-bottom: 1px solid #eee;
}

.page_menu .left-head span {
    padding-right: 12px;
    height: 16px;
    float: right;
    margin-top: 5px;
}

.page_menu .left-head span a.refresh {
    width: 16px;
    height: 16px;
    font-size: 16px;
    background: url(../img/bg.gif) no-repeat -89px -569px;
}

.page_menu .left-head span a.refresh:hover {
    background-position: -109px -569px;
}

#browser {
    overflow: auto;
}

.page_content {
    /* margin-left: 160px; */
    float: left;
    padding-left: 160px;
    overflow-y: overlay;
    overflow-x: hidden;
    clear: both;
    min-width: 100%;
    min-height: 500px;
}

#home {
    overflow: hidden;
    width: 100%;
    clear: both;
    height: 29px;
    line-height: 29px;
    background-color: #f3f9fa;
    border-bottom: 1px solid #eee;
}

#position {
    margin-left: 15px;
}

#shortcut {
    float: right;
}

#shortcut a {
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

#shortcut a:hover {
    background-color: #eee;
}

.footer {
    height: 28px;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 22px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

input.dialog {
    height: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: none
}


.font-fixh {
    font-family: Georgia, Arial;
    color: #f00;
    font-size: 16px;
    font-weight: 700;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

.white,
.white a {
    color: #fff
}

.blue,
.blue a {
    color: #004499
}

.gray4,
a.gray4 {
    color: #999
}

.red,
.red a,
a.red {
    color: red;
}

.green {
    color: #0E774A
}

select optgroup {
    color: #CAC8BB;
}

select {
    outline: none;
}

input[readonly],
input[disabled],
select[disabled] {
    background-image: none;
    background-color: #ddd;
}

/*通用样式*/
.hidden {
    display: none;
}

.pad-10 {
    padding: 10px;
    overflow: hidden
}

.img-wrap {
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden
}

.img-wrap a {
    display: table-cell;
    vertical-align: middle;
    *display: block;
    overflow: hidden
}

.img-wrap a:hover {
    background-color: #e8eff6
}

.picBut {
    background: url(../img/picBnt.png) no-repeat 0 -28px;
    color: #fff;
    float: left;
    text-align: center;
    font-weight: 700;
    height: 28px;
    line-height: 26px;
    *line-height: 30px;
    margin-right: 10px;
    width: 75px
}

.picBut a {
    color: #fff;
    text-decoration: none;
    width: 75px
}

.line-x {
    border-bottom: 1px solid #eee;
}

body fieldset {
    border: 1px solid #D8D8D8;
    padding: 10px;
}

body fieldset legend {
    padding: 3px 8px;
    font-weight: 700;
    border: 1px solid #D8D8D8;
    background-color: #F9F9F9;
}

body fieldset.blue {
    border: 1px solid #dce3ed
}

body fieldset.blue legend {
    padding: 3px 8px;
    font-weight: 700;
    color: #347add;
    background: none;
    border: none
}

.subnav {
    padding: 10px
}

.subnav h2 {
    margin-bottom: 6px
}

.content-menu {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.col-tab ul.tabBut {
    height: 27px;
    position: relative;
    bottom: -1px
}

.col-tab ul.tabBut li {
    float: left;
    height: 25px;
    line-height: 26px;
    margin-right: 5px;
    border: 1px solid #d5dfe8;
    font-weight: normal;
    background: #F2F9FB;
    padding: 0 8px;
}

.col-tab ul.tabBut li.on {
    position: relative;
    background: #fff;
    border-bottom: 0;
    height: 26px;
    _height: 27px;
    font-weight: 700;
}

.col-tab .content {
    border: 1px solid #dce3ed;
    _zoom: 1;
}

.col-tab .contentList {
    border: 1px solid #dce3ed;
    _zoom: 1;
}

.content-menu span {
    color: #ddd;
    padding: 0 8px
}

.content-menu .options {
    float: right;
}

/*分页*/
.pageleft {
    float: left
}

.pageright {
    float: right
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

#imgPreview td.on {
    background: #FFD283
}

#imgPreview td.on a {
    background: url(../swfupload/images/msg_bg.png) no-repeat scroll right -250px transparent;
    display: -moz-inline-stack;
    height: 16px;
    line-height: 16px;
    padding-right: 70px;
    vertical-align: middle;
}

.ico1 {
    background: url(../img/file.gif) no-repeat;
    padding-left: 20px;
}

.ico2 {
    background: url(../img/gear_disable.png) no-repeat;
    padding-left: 20px;
}

.ico3 {
    background: url(../img/link.gif) no-repeat;
    padding-left: 20px;
}

.line-box {
    border: 1px solid #d5dfe8;
}

.table-list td,
.table-list th {
    padding-left: 10px;
    font-weight: normal;
}

.table-list tr {
    height: 26px;
}

.table-list thead {
    border: 1px solid #d5dfe8;
}

.table-list thead th {
    font-weight: normal;
    background-color: #f3f9fa;
}

.table-list tbody td {
    border-bottom: #eee 1px solid;
    padding-top: 5px;
    padding-bottom: 5px
}

.table-list tr:hover,
.table-list table tbody tr:hover {
    background: #f1f8ff
}

.table-list .input-text-c {
    padding: 0;
    height: 18px
}

.table-list tr.on,
.table-list tr.on td,
.table-list tr.on th,
.table-list td.on,
.table-list th.on {
    background: #fdf9e5;
}

.button {
    text-align: center;
    cursor: pointer;
    padding: 2px 6px 2px;
    margin-right: 5px
}

.input-text-c,
.input-text,
textarea,
input.date {
    border: 1px solid #d0d0d0;
    height: 18px;
    margin: 0 5px 0 0;
    padding: 2px 0 2px 5px;
    border: 1px solid #d0d0d0;
    background: url(../img/input.png) repeat-x scroll 0 0 #fff;
}

input.date {
    background: #fff url(../img/input_date.png) no-repeat right 3px;
    padding-right: 18px;
    font-size: 12px;
}

textarea,
textarea.input-text,
textarea {
    font-size: 12px;
    height: auto;
    padding: 5px;
    margin: 0;
}

select {
    vertical-align: middle;
    padding: 2px;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-image: none;
    white-space: pre;
    color: black;
    background-color: white;
    cursor: default;
}

.input-text-c {
    text-align: center
}

/* table_form */

.table_form td {
    padding-left: 12px
}

.table_form th {
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    color: #777
}

.table_form label {
    margin-right: 5px;
    font-weight: normal;
}

.table_form label:hover {
    color: #00f;
}

.table_form label:hover input[type=radio],
.table_form label:hover input[type=checkbox] {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: #00f;
}

.table_form label input[type=radio],
.table_form label input[type=checkbox] {
    margin-right: 5px;
}

.table_form td,
.table_form th {
    padding: 8px 0 8px 8px
}

/* 表单验证 */
.show-tips,
.onFocus,
.onError,
.onCorrect,
.onLoad {
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    background: url(../swfupload/images/msg_bg.png) no-repeat;
    color: #444;
    line-height: 18px;
    padding: 2px 10px 2px 23px;
    margin-left: 5px;
    _margin-left: 5px
}

.show-tips {
    background-position: 3px -1196px;
    border-color: #40B3FF;
    color: #959595
}

.onFocus {
    background-position: 3px -145px;
    border-color: #40B3FF;
    color: #959595
}

.onFocus2 {
    background-position: 3px -147px;
    border-color: #40B3FF;
}

.onError {
    background-position: 3px -47px;
    border-color: #40B3FF;
    color: red
}

.onCorrect {
    background-position: 3px -247px;
    border-color: #40B3FF;
}

.display {
    display: none
}
