<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>{$site_title}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="keywords" content="{$site_keywords}" />
  <meta name="description" content="{$site_description}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link href="/template/mobile/css/style.css" rel="stylesheet" type="text/css">
  <link href="/template/mobile/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
