{template member/head.html}

{template member/header.html}

<div class="member">
	<div class="w210 fl">
		{template member/left.html}
	</div>
	<div class="list-article">
		<div class="list-content">
			{if !$member['status']}
			<h3><span class="bt" style="color:#F00"><b>您还没有通过审核！</b></span></h3>
			{/if}
			<div class="list-title"><h3>我发布的内容</h3></div>
			<ul>
				{list status=0 username=$member[username] num=10 }
				<li class="list-item">
					<span class="date">{function.date("Y-m-d H:i:s", $vdata['time'])}</span>
					<a href="{$vdata['url']}"><font color="#FF0000">[未审]</font>{$vdata['title']}</a>
				</li>
				{/list}
				{list username=$member[username] num=10 }
				<li class="list-item">
					<span class="date">{function.date("Y-m-d H:i:s", $vdata['time'])}</span>
					<a href="{$vdata['url']}">{$vdata['title']}</a>
				</li>
				{/list}
			</ul>
		</div>
	</div>
</div>

{template footer.html}