{template header.html}
<body>
<!--header-->
<header class="region clearfix">
 <div class="logo"><a href="{$site_url}"><img src="{$site_template_url}/images/logo.png" /></a></div>
 <div id="search" class="clearfix">
  <form class="search " action="" method="get">
   <input type="hidden" value="index" name="c" />
   <input type="hidden" value="search" name="a" />
   <input name="kw" type="text" class="text">
   <input type="submit" value="search" class="submit">
  </form>
 </div>
</header>
<script type="text/javascript">
$(document).ready(function(){
	$("#nav-more").click(function(){
		var id = $("#list_id").val();
		$("#nav-more").html('<span class="nav-button">加载中...</span>');
		$.post("/index.php?c=api&a=mobiledata&rand="+Math.random(), { tpl: "ajax_news.html", page:id }, function(data){ 
			$("#deals").append(data);
			$("#list_id").val(Number(id) + 1);
			$("#nav-more").html('<span class="nav-button">查看更多</span>');
		});
	});
});
</script>
<header>
<div class="title">
  <h1 class="titname">{function.breadcrumb($catid, ' &gt;&gt;&nbsp;&nbsp;')}</h1>
  <a href="javascript:history.back()"><span class="titback"><img src="{$site_template_url}/images/icon_user.png" /></span></a>
</div>




 <div id="deals">
    <input name="list_id" id="list_id" type="hidden" value="1">
{category  parentid=$catid typeid=1}
<h3><span class="bt">{$vdata['catname']}</span> <span class="more"><a href="{$vdata['url']}">更多&gt;&gt;</a></span></h3>
{list catid=$vdata[catid] num=3 order=time}
<section class="news">
<a href="{$vdata['url']}">
    <detail><ul><li class="brand">{$vdata['title']}</li></ul></detail>
</a>
</section>
{/list}
{/category}
</div>


<div class="newlist">
 <input name="list_id" id="list_id" type="hidden" value="1">
 <ul class="tabs" style="margin-top: 0">
{category  parentid=$catid typeid=1}
  <li><a href="{$vdata['url']}">{$vdata['catname']}</a></li>
{/category}
 </ul>
 <br class="clear" />
 <div class="flexslider2"><ul class="slides"></ul></div>
 <ul class="newsconlist">
{list catid=$vdata[catid] num=3 order=time}
   <li><a href="{$vdata['url']}">{$vdata['title']}</a></li>
{/list}
 </ul>


 <ul class="page_navi"><li><span class="nav-button">查看更多</span></li></ul>
 <ul class="page_navi"><li><a href="/site/list?catid=8&page=1&size=12">下一页 &gt;</a></li></ul>
</div>



<div id="deals-page" class="">
    <div id="nav-more"><span class="nav-button">查看更多</span></div>
</div>
{template footer.html}
