{template head.html}
{template header.html}
<link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/dialog.js?skin=green"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>

 <div class="blank10 clear"></div>
 <div class="warp">
 <div class="bg" style="padding:20px;">
{if $select}
<!--选择栏目的模板-->
  <form action="" method="post">
 <input name="select" type="hidden" value="1" />
      <div style="text-align:center;padding:20px;">
      <select name="catid">
      <option> -选择投稿栏目- </option>
      {$post_category}
      </select>
      &nbsp;<input type="submit" class="button" value="我要投稿" name="submit">
      </div>
   </form> 
   {else}
    		<!--投稿的模板-->
   <form action="" method="post">
 <table width="100%" class="table_form">
 <tr>
 	<th width="100">投稿栏目：</th>
 	<td>{$cats[$catid]['catname']} <a href="/index.php?c=index&a=post">返回重选</a></td>
 </tr>
{if $model['content']['title']['show']}
    <tr>
     <th><font color="red">*</font>&nbsp;{$model['content']['title']['name']}：</th>
     <td><input type="text" class="input-text" size="50" id="title" value="{$data['title']}" name="data[title]">
     <div class="show-tips" id="title_text"></div></td>
    </tr>
{/if}
{if $model['content']['description']['show']}
    <tr>
     <th>{$model['content']['description']['name']}：</th>
     <td><textarea style="width:490px;height:66px;" id="description" name="data[description]">{$data['description']}</textarea></td>
    </tr>
{/if}
{$data_fields}
    <tr>
     <th>验证码：</th>
     <td><input name="code" type="text" class="input-text" size=10 /><img id="code" src="{function.url("api/access/checkcode/", array("width"=>80, "height"=>28))}" align="absmiddle" title="看不清楚？换一张" onclick="document.getElementById('code').src='{function.url("api/access/checkcode/", array("width"=>80, "height"=>28))}&'+Math.random();" style="cursor:pointer;" /></td>
    </tr>
    <tr>
     <th style="border:none">&nbsp;</th>
     <td style="border:none"><input type="submit" class="button" value="提 交" name="submit"></td>
    </tr>
   </table>
  </form>
{/if}
 </div>
</div>
<div class="clear blank10"></div>
{template footer.html}
