{template header.html}
<div class="main">
    <div class="container">
	    <div class="w210 fl">
		{template member/sidebar.html}
        </div>
		<div class="w740 fr bg">
            {template crumbs.html}
            <form action="" method="post">
                <table width="100%" class="table_form ">
                    <tbody>
                        <tr>
                            <th width="100">会员名称：</th>
                            <td>{$member['username']}</td>
                        </tr>
                        <tr>
                            <th>原密码：</th>
                            <td><input name="data[password1]" type="password" class="input-text" value="" /></td>
                        </tr>
                        <tr>
                            <th>新密码：</th>
                            <td><input name="data[password2]" type="password" class="input-text" value="" /></td>
                        </tr>
                        <tr>
                            <th>确认密码：</th>
                            <td><input name="data[password3]" type="password" class="input-text" value="" /></td>
                        </tr>
                        <tr>
                        <tr>
                            <th style="border:none">&nbsp;</th>
                            <td style="border:none"><input type="submit" class="button" value="保 存" name="submit"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{template footer.html}
